<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.radhikayusuf.bakingapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.Manifest.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.main_recipe.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.detail.DetailActivity"
            android:launchMode="singleTop"
            android:parentActivityName=".ui.main_recipe.MainActivity" />

        <provider
            android:name=".data.RecipeContentProvider"
            android:authorities="com.example.radhikayusuf.bakingapp"
            android:exported="false" />

        <activity
            android:name=".ui.fullscreen_player.FullScreenPlayerActivity"
            android:launchMode="singleTop"
            android:parentActivityName=".ui.detail.DetailActivity" />
        <activity android:name=".ui.testing_full.TestingFullActivity" />


        <activity android:name=".ui.configure_widget.ChooseRecipeActivity">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".widget.IngredientsWidgetProvider"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="com.example.radhikayusuf.bakingapp.ACTION_DATA_UPDATED" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_provider" />
        </receiver>

        <service
            android:name=".widget.IngredientsWidgetService"
            android:exported="false"
            android:permission="android.permission.BIND_REMOTEVIEWS" />
    </application>

</manifest>